//-Footer
<nav class="panel bottom white relative">

    //-Footer Desktop
    <div class="sections desktop">

        //-Footer izquierda Desktop
        <div class="left"><a href="#" class="button hollow"><img src="assets/img/homepage/elements/restaurant-logo.svg" width="112" height="42"></a></div>

        //-Footer central Desktop
        <div class="center">
            <ul class="menu uppercase">
                <li><a href="#">MENU</a></li>
                <li><a href="#">NEW</a></li>
                <li><a href="#">THE TEAM</a></li>
                <li><a href="#">REFERENCES</a></li>
                <li><a href="#">CONTACT</a></li>

            </ul>
        </div>

        //-Footer derecha Desktop
        <div class="right">
            <ul class="menu crop">
                <li><a href="http://twitter.com/designmodo" target="_blank"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#instagram2"></use></svg></a></li>
                <li><a href="http://instagram.com/designmodo" target="_blank"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#twitter"></use></svg></a></li>
            </ul>
        </div>
    </div>

    //-Footer Mobile
    <div class="sections compact">

        //-Footer izquierda Mobile
        <div class="left"><a href="#" title="Slides Framework"><img src="assets/img/homepage/elements/restaurant-logo.svg"></a></div>

        //-Footer derecha Mobile
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>

    </div>
</nav>

include svg_libraries.pug

</body>
</html>