//-Navbar
<nav class="panel top white padding-bottom-2">

    //-Navbar Desktop
    <div class="sections desktop">

        //-Navbar izquierda
        <div class="left"><a href="#" title="Slides Framework"><img src="assets/img/homepage/elements/restaurant-logo.svg"></a></div>

        //-Navbar central
        <div class="center">
            <ul class="menu uppercase">
                <li><a href="#">Menu</a></li>
                <li><a href="#">New</a></li>
                <li><a href="#">The team</a></li>
                <li><a href="#">Reference</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        //-Navbar derecha
        <div class="right">
            <ul class="menu trim">
                <li><a href="http://instagram.com/designmodo" target="_blank"><svg class="noFill"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#instagram2"></use></svg></a></li>
                <li class="cropRight"><a href="http://twitter.com/designmodo" class="trimRight" target="_blank"><svg class="noFill"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#twitter"></use></svg></a></li>
            </ul>
        </div>
    </div>

    //-Navbar Mobile
    <div class="sections compact hidden">

        //-Navbar Mobile izquierda
        <div class="left"><a href="#" title="Slides Framework"><img src="assets/img/homepage/elements/restaurant-logo.svg"></a></div>

        //-Navbar Mobile derecha
        <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#menu"></use></svg></span></div>
    </div>
</nav>