//-Sidebar
<nav class="sidebar" data-sidebar-id="1">

    //-Close icon
    <div class="close"><svg><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#close" xlink:href="#close"></use></svg></div>
    <div class="content">

        //-Logo
        <div class="left"><a href="#" title="Slides Framework"><img src="assets/img/homepage/elements/restaurant-logo.svg"></a></div>

        //-Menu
        <ul class="mainMenu margin-top-3">
            <li><a href="#">MENU</a></li>
            <li><a href="#">New</a></li>
            <li><a href="#">The team</a></li>
            <li><a href="#">References</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <ul class="subMenu small opacity-8">
            <li><a href="#">Submit Product</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">License</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>

        //-Redes sociales
        <ul class="social opacity-8">
            <li><a href="#"><svg class="noFill"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#instagram2"></use></svg></a></li>
            <li><a href="#"><svg class="noFill"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#twitter"></use></svg></a></li>
        </ul>
    </div>
</nav>