-
    //- Variables PUG/JS Locales - NIVEL 1
    const dir = '';

include ../includes/head


//-Inicio
<section class="slide whiteSlide" data-title="Slide #28 (28)" data-name="slide-28-ee9292d7">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex verticalCenter later reverse">
                        <li class="center col-7-12 left ae-1">
                            <img src="assets/img/homepage/elements/restaurant-pin.svg" class="margin-right-1 middle shift-up-2 ae-1" alt="Pin icon" width="12">421 Amsterdam Ave, NYC
                            <h1 class="ae-1 fromLeft smaller margin-bottom-2">Local <i class="text-orange">family first</i> Restaurant in Little Italy, NYC</h1>
                            <p class="ae-2 fromLeft large margin-bottom-4"><span class="opacity-8">Neapolitans - is the family place, that follows traditions through the&nbsp;decades. Pizza, wine, parma and&nbsp;more.</span></p>
                            <a href="#" class="button white rounded ae-3 fromCenter cropLeft wideForPhone">OPEN MENU</a>
                            <a href="#" class="button yellow text-black rounded ae-4 fromCenter wideForPhone">PLACE ORDER</a>
                        </li>
                        <li class="col-5-12 cell-28 ae-1">
                            <img src="assets/img/homepage/backgrounds/restaurant-1.jpg"/>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>


//-Browse menu
<section class="slide whiteSlide" data-title="Slide #29 (29)" data-name="slide-29-b48c0af6">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex verticalCenter toLeft">
                        <li class="margin-bottom-phablet-5 col-3-12 col-tablet-6-12 col-phablet-1-2 padding-right-1 ae-1 done">
                            <img srcset="assets/img/homepage/elements/restaurant-2-1.jpg 2x" src="assets/img/homepage/elements/restaurant-2-1.jpg" alt="Picture">
                        </li>
                        <li class="margin-bottom-phablet-5 col-3-12 col-tablet-6-12 col-phablet-1-2 padding-left-1 ae-1 done">
                            <img srcset="assets/img/homepage/elements/restaurant-2-2.jpg 2x" src="assets/img/homepage/elements/restaurant-2-2.jpg" alt="Picture">
                        </li>
                        <li class="col-5-12 cell-28 ae-1">
                            <span class="crop button play small amber flat btn-133 disable-pointer-events ae-1"><svg class="noFill"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#tableware"></use></svg></span>
                            <p class="large margin-bottom-2 ae-2"><span class="opacity-8"><h2>Little&nbsp;Italy <i class="weight-7 text-amber">is</i>&nbsp;Real&nbsp;Italy</h2></span></p>
                            <h5 class="margin-bottom-3 ae-3">Our restaurant is genuine food based on updated classic recipes, not alchemy, and the importance of using only the finest ingredients.</h5>
                            <a href="#" class="button white rounded ae-3 fromCenter crop margin-top-1">BROWSE MENU</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>


//-Menu Restaurant
<section class="slide whiteSlide" data-title="Slide #74 (74)" data-name="slide-74-4adb0df8">
    <div class="content">
        <div class="container">
            <div class="wrap align-left">
                <div class="fix-12-12">
                    <ul class="flex flex-68 equal equalMobile">
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2 toLeft ae-1">
                            <h4 class="smaller fromLeft">Food <i class="weight-7 text-green">and</i> Drinks</h4>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2 toRight ae-2">
                            <h6 class="smaller margin-bottom-1">PIZZA</h6>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2 toRight ae-3">
                            <h6 class="smaller margin-bottom-1">SPAGUETTI</h6>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2 toRight ae-4">
                            <h6 class="smaller margin-bottom-1">WINE CARD</h6>
                        </li>
                        <li class="col-2-12 col-tablet-1-4 col-phablet-1-3 col-phone-1-2 toRight ae-5">
                            <h6 class="smaller margin-bottom-1">OTHER</h6>
                        </li>
                    </ul>
                </div>
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex flex-74 fixedSpaces later equal">
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-3 fromCenter">
                            <a href="#" class="box-74">
                                <div class="thumbnail-74">
                                    <img src="assets/img/homepage/elements/restaurant-3-1.jpg" class="wide" alt="Thumbnail"/>
                                </div>
                                <div class="name-74 equalElement table wide">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1">Classic Margherita</h4>
                                        <p class="small opacity-8 cropBottom">Dough, San Marzano sauce, Pecorino Romano, Mozarella Di&nbsp;Buffalo</p>
                                        <h5>$9.99</h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-4 fromCenter">
                            <a href="#" class="box-74">
                                <div class="thumbnail-74">
                                    <img src="assets/img/homepage/elements/restaurant-3-2.jpg" class="wide" alt="Thumbnail"/>
                                </div>
                                <div class="name-74 equalElement table wide">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1">Classic Marinara</h4>
                                        <p class="small opacity-8 cropBottom">Dough, San Marzano sauce, Pecorino Romano,&nbsp;Garlic.</p>
                                        <br><h5>$5.99</h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                            <a href="#" class="box-74">
                                <div class="thumbnail-74">
                                    <img src="assets/img/homepage/elements/restaurant-3-3.jpg" class="wide" alt="Thumbnail"/>
                                </div>
                                <div class="name-74 equalElement table wide">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1">Quattro Formaggi</h4>
                                        <p class="small opacity-8 cropBottom">Dough, Cream Sauce, Pecorino Romano, Mozarella Di&nbsp;Buffalo, Blue Cheese.</p>
                                        <h5>$19.99</h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-3-12 col-tablet-1-2 col-phablet-1-1 ae-5 fromCenter">
                            <a href="#" class="box-74">
                                <div class="thumbnail-74">
                                    <img src="assets/img/homepage/elements/restaurant-3-4.jpg" class="wide" alt="Thumbnail"/>
                                </div>
                                <div class="name-74 equalElement table wide">
                                    <div class="cell left top">
                                        <h4 class="smaller margin-bottom-1">Five Meats</h4>
                                        <p class="small opacity-8 cropBottom">Dough, San Marzano sauce, Pecorino&nbsp;Romano, Meat.</p>
                                        <br><h5>$19.99</h5>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>


//-Productos
<section class="slide whiteSlide" data-title="Slide #16 (16)" data-name="slide-16-85b9b236">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse">
                        <li class="col-5-12 center ae-1">
                            <img src="assets/img/homepage/elements/restaurant-pizza.svg" class="margin-right-1 middle shift-up-2" alt="Pin icon" width="12">GET STARTED
                            <h3 class="margin-top-1 margin-bottom-2 fromLeft done">Mushroom Margherita</h3>
                            <p class="large fromLeft done"><span class="opacity-8">All the traditional way, but improved. Classic San Marzano sauce, buffalo?s mozarella, basilico and pecorino. Deliziosa!</span></p>
                        </li>
                        <li class="col-1-12 ae-1"></li>
                        <li class="col-6-12">
                            <div class="thumbnail-74 ae-1">
                                <img src="assets/img/homepage/elements/restaurant-5-1.jpg"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    //-Quick recipe
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces">
                        <li class="col-6-12 ae-1">
                            <div class="thumbnail-74">
                                <img src="assets/img/homepage/elements/restaurant-5-2.jpg"/>
                            </div>
                        </li>
                        <li class="col-1-12 ae-1"></li>
                        <li class="col-5-12 center ae-1">
                            <img src="assets/img/homepage/elements/restaurant-fire.svg" class="margin-right-1 middle shift-up-2" alt="Pin icon" width="12">QUICK RECIPE
                            <h1 class="smallest margin-top-1 margin-bottom-2 ae-2 fromRight">Mom?s Calzone</h1>
                            <p class="large ae-3 fromRight"><span class="opacity-8">We don't use any oil in the cooking process. Do you remember how it was done the old-fashioned way? Dough, cheese, and crudo in a wood-fired oven.</span></p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    //-Coming soon
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces reverse">
                        <li class="col-5-12 center ae-1">
                            <img src="assets/img/homepage/elements/restaurant-clock.svg" class="margin-right-1 middle shift-up-2" alt="Pin icon" width="12">COMING SOON
                            <h3 class="margin-top-1 margin-bottom-2 fromLeft done">Dough to Go</h3>
                            <p class="large fromLeft done"><span class="opacity-8">Meet dough products that are ready to use in your kitchen. In the comfort of your own kitchen, make pizza, pasta, or even cannoli.</span></p>
                        </li>
                        <li class="col-1-12"></li>
                        <li class="col-6-12">
                            <div class="thumbnail-74 ae-1">
                                <img src="assets/img/homepage/elements/restaurant-6-1.jpg"/>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    //-Coming soon
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces">
                        <li class="col-6-12">
                            <div class="thumbnail-74 ae-1">
                                <img src="assets/img/homepage/elements/restaurant-6-2.jpg"/>
                            </div>
                        </li>
                        <li class="col-1-12"></li>
                        <li class="col-5-12 center ae-1">
                            <img src="assets/img/homepage/elements/restaurant-clock.svg" class="margin-right-1 middle shift-up-2" alt="Pin icon" width="12">COMING SOON
                            <h1 class="smallest margin-top-1 margin-bottom-2 ae-2 fromRight">Recipe e-book</h1>
                            <p class="large ae-3 fromRight"><span class="opacity-8">20+ years of perfecting delightful meals that range from simple to complex without breaking the bank.</span></p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>


//-Follow us
<section class="slide whiteSlide padding-buttom-2" data-title="Slide #75 (75)" data-name="slide-75-e5aa6c66">
    <div class="content">
        <div class="container">
            <div class="wrap align-left">

                <div class="fix-8-12">
                    <span class="crop trim button play small red flat disable-pointer-events ae-1">
                        <svg class="middle"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#heart"></use></svg>
                    </span>
                    <h1 class="smaller margin-bottom-2 ae-1">We <i class="text-red">love</i> catering  <span class="text-gray">&nbsp;#nyc #truepizza</h1>
                    <ul class="margin-bottom-6 flex noSpaces verticalCenter">
                        <li class="col-5-12 col-tablet-7-12">
                            <p class="ae-3">We always welcome our customers and the best feedback they can give is seeing their faces lit up with&nbsp;smiles.</p>
                        </li>
                        <li class="margin-top-phablet-3 col-2-12 col-tablet-1-3 col-phablet-1-1 toRight align-right phablet-align-left ae-4">
                            <p class="margin-bottom-1 small">follow US</p>
                            <a href="#" class="margin-right-2">
                                <svg width="18" height="18"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#instagram2"></use></svg>
                            </a>
                            <a href="#">
                                <svg width="18" height="18"><use href="assets/img/homepage/elements/icon-set.svg?p=K3pa7jkW#twitter"></use></svg>
                            </a>
                        </li>
                    </ul>
                <div class="fix-12-12 margin-top-20">
                    <ul class="flex flex-75 fixedSpaces ae-3 popupTrigger noText" data-popup-id="75-75">
                        <li class="col-3-12 ae-3 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-7-1.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image"/>
                        </li>
                        <li class="col-3-12 ae-6 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-7-2.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="0" alt="Image"/>
                            <img src="assets/img/homepage/elements/restaurant-7-3.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="1" alt="Image"/>
                        </li>
                        <li class="col-3-12 ae-3 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-7-4.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image"/>
                        </li>
                        <li class="col-3-12 ae-6 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-7-5.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="3" alt="Image"/>
                            <img src="assets/img/homepage/elements/restaurant-7-6.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="4" alt="Image"/>
                        </li>
                        <li class="col-3-12 ae-3 fadeIn">
                            //-<img src="assets/img/homepage/elements/restaurant-7-7.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image"/>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>


//Nosotros
<section class="slide whiteSlide" data-title="Slide #75 (75)" data-name="slide-75-e5aa6c66">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-8-12 toCenter">
                    <h1 class="smaller margin-bottom-2 ae-1">Meet <i class="text-deepOrange">the</i>&nbsp;cheif</h1>
                    <p class="large ae-2"><span class="opacity-8">We are so different, but united in making quality. Not only quality in food, but creating a great mood to our customers.</span></p>
                </div>
                <div class="fix-12-12 margin-top-4">
                    <ul class="flex flex-75 fixedSpaces ae-3 popupTrigger noText" data-popup-id="75-75">
                        <li class="col-3-12 ae-3 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-8-1.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image"/>
                            <div class="name-74 equalElement table wide">
                                <div class="cell left top">
                                    <h4 class="smaller center margin-bottom-1">Vitorio Del Torro</h4>
                                    <p class="small center opacity-8 cropBottom">GRAND PIZZAIOLO</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-3-12 ae-3 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-8-2.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image"/>
                            <div class="name-74 equalElement table wide">
                                <div class="cell left top">
                                    <h4 class="smaller center margin-bottom-1">Febrian Zakaria</h4>
                                    <p class="small center opacity-8 cropBottom">PASTA GOD</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-3-12 ae-3 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-8-3.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="1" alt="Image"/>
                            <div class="name-74 equalElement table wide">
                                <div class="cell left top">
                                    <h4 class="smaller center margin-bottom-1">Jordan Blond</h4>
                                    <p class="small center opacity-8 cropBottom">FISH MAESTRO</p>
                                </div>
                            </div>
                        </li>
                        <li class="col-3-12 ae-3 fadeIn">
                            <img src="assets/img/homepage/elements/restaurant-8-4.jpg" class="wide rounded margin-bottom-2" data-slider-id="75-75" data-slider-action="2" alt="Image"/>
                            <div class="name-74 equalElement table wide">
                                <div class="cell left top">
                                    <h4 class="smaller center margin-bottom-1">Jack Nobeardino</h4>
                                    <p class="small center opacity-8 cropBottom">DOUGH TRADICIONALIST</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>


//-Contacto
<section class="slide whiteSlide" data-title="Slide #17 (17)" data-name="slide-17-39475b94">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-12-12">
                    <ul class="flex fixedSpaces">
                        <li class="col-6-12 ae-1">
                            <img class="wide" src="assets/img/homepage/elements/restaurant-9.jpg"/>
                        </li>
                        <li class="col-1-12"></li>
                        <li class="center col-5-12 left ae-1">
                            <img class="ae-1" src="assets/img/homepage/elements/restaurant-pin.svg" alt="">421 Amsterdam Ave, New York, NY 10024
                            <h1 class="smallest margin-top-1 margin-bottom-2 ae-2 fromRight">The <i class="text-amber">family</i> place for&nbsp;everyone</h1>
                            <p class="large ae-3 fromRight"><span class="opacity-8">Our doors are opened every day for our customers. Follow the flavors to find&nbsp;us.</span></p>
                            <p class="large ae-3 fromRight"><span class="opacity-8">Mon - Fri: 9:00 - 22:00<br>Sat - Sun: 12:00 - 20:00</span></p>
                            <a class="text-black button amber rounded crop margin-top-1 ae-4 fromCenter">MAKE A CALL</a>
                            <a class="button white rounded crop margin-top-1 ae-4 fromCenter">RESERVE NOW</a>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>


script
    include ../scripts/console.js


include ../includes/footer

